<!DOCTYPE html>
<html>
<head>
  <title>Speedplanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap%27')</style>
</head>
<body>
<div class = "header">
  <h1 class="title">Cursos de Carrera</h1>
</div>
<div class = "blueline"></div>
<div class = "blueline2"></div>
<div class="back">
<h1 class="textB">Horarios disponibles <button mat-flat-button color="primary" class="button" routerLink="filter">Filtros</button></h1>
</div>
<div class="table">
  <app-course-table></app-course-table>
</div>
<div style="text-align: right" class="space">
  <button mat-flat-button color="primary" class="button2">Cancelar </button>
  <button mat-flat-button color="primary" class="button3" routerLink="/inscription-process">Aceptar</button>

</div>
<div class = "redline2"></div>
<div class = "redline"></div>
<div class="back"></div>
<div class = "greyline"></div>
<div class = "header2">Adaptimize, 2019</div>

</body>
</html>
