<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>َSave-Schedule</title>
  <link rel="stylesheet" href="save-schedule-success.component.css">
  <title>Speedplanner</title>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="save-schedule-success.component.css">
</head>

<body>
<div class ="line-blue"> </div>
<div class ="line-gray"> </div>
<div class ="line_blue_background">
  <h1>¡Excelente!</h1>
</div>
<div class ="line-blue-thin"></div>
<div class ="line-darkblue-thin"></div>

<form class="box" action="save-schedule-success.component.css" method="post">
  <h1>Se ha grabado correctamente su horario</h1>
  <input type="Submit" name="Aceptar" value="Aceptar" routerLink="/">
  <input type="Submit" name="Mostrar Horario" value="Mostrar Horario" routerLink="/show-schedule">
</form>

<div class ="line-darkblue-thin"></div>
<div class ="line-blue-thin"></div>
<section class ="SpeedPlanner">
  <img src="/assets/speedplanner2.png" >
</section>
<div class ="line-gray"> </div>
<div class ="footer">@Adaptimze, 2020</div>
</body>
</html>
