<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>َShow-Schedule</title>
  <title>Speedplanner</title>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="show-schedule.component.css">
</head>

<body>
<div class ="line-blue"> </div>
<div class ="line-gray"> </div>
<div class ="line_blue_background">



</div>

<section class ="SpeedPlanner">
  <img src="/assets/speedplanner2.png" >
  <button  class="return"  routerLink="/"> Regresar </button>
</section>
<div class ="line-gray"> </div>
<div class ="footer">@Adaptimze, 2020</div>
</body>
</html>
