<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>َShow-Schedule</title>
  <title>Speedplanner</title>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="show-schedule.component.css">
</head>

<body>
<div class ="line-blue"> </div>
<div class ="line-gray"> </div>
<div class ="line_blue_background">

  <div id="middle">
    <div id="left-list-courses-type">
      <h1>Cursos Disponibles</h1>
      <div id="list-courses-type">
        <div class="list">
          <input type="radio" id="career-course" name="course-type" value="career-course" routerLink="/course-select">
          <label>Cursos de Carrera</label>
        </div>
        <div class="list">
          <input type="radio" id="elective-course" name="course-type" value="elective-course" routerLink="/course-select">
          <label>Electivos</label>
        </div>
      </div>
      <div class="left casilla">
        <input type="checkbox">
        <span routerLink="/filter" >Filtrar electivos</span>
      </div>
      <div id="buttons">
        <button class="card" routerLink="/save-schedule">Guardar</button>
        <button class="card" routerLink="/save-schedule-success" >Grabar</button>
      </div>
    </div>

</div>
</div>

<section class ="SpeedPlanner">
  <img src="/assets/speedplanner2.png" >
  <button  class="return"  routerLink="/"> Regresar </button>
</section>
<div class ="line-gray"> </div>
<div class ="footer">@Adaptimze, 2020</div>
</body>
</html>
