<!DOCTYPE html>

<html>
<head>
  <style> @import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap')</style>
</head>
<body>
<div class="blue-space"></div>
<div class="white-stripe"></div>
<div class="title-area">Peticiones</div>
<div class="light-red-stripe"></div>
<div class="dark-red-stripe"></div>

<div class="table-area">
  <app-requests-table></app-requests-table>
</div>
<div class="dark-red-stripe"></div>
<div class="light-red-stripe"></div>

<div class="image-area">
  <img src="/assets/speedplanner2.png" style="width:352px;height:152px; opacity:65%">
</div>
<div class="white-stripe"></div>
<div class="footer">©Adaptimize, 2020</div>
</body>
</html>
