<!DOCTYPE html>
<html>
<head>
  <title>Speedplanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap%27')</style>
</head>
<body style="background-color:#2E3D4E;">

<div class = "header">
  <img class="img" src="/assets/logochamnge.png" >
</div>
<div class = "greyline"></div>
<div class = "blueline"></div>
<div class = "blueline2"></div>
<h1 style="color: white" class = "text">Mientras más rápido, mejor</h1>

<div class = "blueline"></div>
<div class = "blueline2"></div>
<div class ="login-form">
<form class="login">
  <h1 style = "font-size: 2.4em">Inicio</h1>
  <h2>Correo</h2>
  <input type="text" name="Correo" ><br>
  <h2>Contraseña</h2>
  <input type="password" name="Contraseña">
  <a class="record" routerLink="/show-schedule">Recordar Contraseña</a>
</form>

  <div class = "redline2"></div>
  <div class = "redline"></div>

<div class = "button">
  <button class = "Accept" routerLink="/inscription-process">Aceptar</button>
</div>
</div>
<div class = "greyline"></div>
<div class = "header2">Adaptimize, 2019</div>
</body>
</html>


