<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>َForgot-Password</title>
  <link rel="stylesheet" href="return-password.component.css">
  <title>Speedplanner</title>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="return-password.component.css">
</head>

<body>
<div class ="line-blue"> </div>
<div class ="line-gray"> </div>
<div class="line_blue_background" style="text-align: center">
  <img class="a" src="/assets/speedplanner2.png" >
</div>
<div class ="line-blue-thin"></div>
<div class ="line-darkblue-thin"></div>

<div class="sp1" style="text-align: center">
  <h1 class="text">Se ha vuelto a enviar un correo con la contraseña </h1>
  <button class="btn" routerLink="/"> Volver al Login </button>
</div>
<div class ="line-darkblue-thin"></div>
<div class ="line-blue-thin"></div>
<div class ="line_blue_background"></div>
<div class ="line-gray"> </div>
<div class ="footer">@Adaptimze, 2020</div>
</body>
</html>
