<html>
<head>
  <title>Elegir Curso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap%27');
  </style>
</head>
<body>
<div class = "header">
 <h1 style="font-size:2.5vw">Electivo</h1>


  <div class = "body">
    <div class = "blueline"></div>
    <div class = "blueline2"></div>
    <h2 style="font-size:2.5vw">Horarios disponible</h2>
    <h3 style="font-size:2.5vw">No hay vacantes para este curso</h3>
    <div style="text-align:center">
    <button class="button" role="button">Regresar</button>
    </div>
    <h4 style="font-size:1vw">¿Quieres llevarlo de todas formas? Pida abrir un curso</h4>
    <div class = "redline2"></div>
    <div class = "redline"></div>


</div>
  <div class ="space"></div>
  <div class = "greyline"></div>
  <div class = "header2">Adaptimize, 2019</div>
</div>

</body>
</html>
