<html>
   <head>
     <title>Speedplanner</title>
     <style> @import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap')</style>
   </head>
   <body>
   <div class= "header"></div>
   <div class="space2"></div>
   <div class="stripe3"></div>
   <div class= "space">
     <div class="image">
       <img class ="a" src="/assets/speedplanner2.png">
     </div>
   </div>
   <div class="stripe1"></div>
   <div class="stripe2"></div>
   <div class="button-area">
     <div class="text">Se detecto una cuenta.Se envió un correo con la contraseña</div>
     <button class="btn1" routerLink="/return-password">No recibí nada</button>
     <div class="divider"></div>
     <button class="btn2" routerLink="/">Volver a Login</button>
   </div>
   <div class="stripe2"></div>
   <div class="stripe1"></div>
   <div class="space"></div>
   <div class="stripe3"></div>
   <div class="space3">
     <div class="spacer"></div>
     <div class="buttonText">©Adaptimize, 2020</div>
   </div>
   </body>
</html>
