<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Filters</title>
  <title>Speedplanner</title>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap" rel="stylesheet">
</head>
<body>
 <div class="sp1">
   <h1 class="text">Filtros</h1>
 </div>
 <div class ="line-blue-thin"></div>
 <div class ="line-darkblue-thin"></div>
 <div class="sp1" id="block_container">
   <h1 class="smalltext">Docente: </h1>
     <div class="dropdown">
       <button class="dropbtn">Seleccione un nombre por favor
         <i class="fa fa-caret-down"></i>
       </button>
       <div class="dropdown-content">
         <a>Juan Ramirez</a>
         <a>Omar Leyva</a>
         <a>Gino Suzuki</a>
       </div>
     </div>
 </div>
 <div class ="line-gray"> </div>
 <div class="sp1" id="block_container">
   <h1 class="smalltext2">Quiero que mis clases sean desde: </h1>
   <div class="dropdown">
     <button class="dropbtn">Seleccione la primera hora
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a >9:00 am</a>
       <a >11:00 am</a>
       <a >3:00 pm</a>
     </div>
   </div>
   <h1 class="smalltext2">Hasta las : </h1>
   <div class="dropdown">
     <button class="dropbtn">Seleccione la segunda
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a >3:00 pm</a>
       <a >5:00 pm</a>
       <a >7:00 pm</a>
     </div>
   </div>
 </div>
 <div class="sp1" id="block_container_b">
   <button class="btn1" routerLink="/course-select">Cancelar</button>
   <div class="divider"></div>
   <button class="btn2" routerLink="/course-select">Aceptar</button>
 </div>
 <div class ="line-gray"> </div>
 <div class ="footer">@Adaptimze, 2020</div>

</body>
</html>
