.header{
  background: #4377F2;
  height: 100px;
}

.stripe1{
  background: #E43B31;
  height: 10px;
}

.stripe2{
  background: #9F3833;
  height: 10px;
}

.text{
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Khula", sans-serif;
  font-weight: normal;
  font-size: 2.8em;
  text-align: center;
  color: white;
  background: #2E3D4E;
  height: 100px;
}

.space{
  height: 5px;
}

.button-area{
  padding-top: 20px;
  background: #23313F;
  height: 300px;
  text-align: center;
}

.footer{
  background: #E43B31;
  height: 30px;
  padding-top: 10px;
  padding-right: 5px;
  font-family: "Khula", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  text-align: right;
  color: white;
}

.btn1{
  background-color: #A33D37;
  font-family: "Khula", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
  margin-top: 75px;
  color: white;
  border-radius: 25px;
}

.image{
  text-align: left;
  background: #2E3D4E;
  height: 180px;
}
.img{
  padding-top: 30px;
  width:20%;height:70%; opacity:65%
}
@media screen and (max-width: 800px) {
  .text{
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Khula", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: #2E3D4E;
    height: 50px !important;
  }
  .btn1{
    background-color: #A33D37;
    font-family: "Khula", sans-serif;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    margin-top: 35px;
    color: white;
    border-radius: 25px;
  }
  .button-area{
    padding-top: 20px;
    background: #23313F;
    height: 200px;
    text-align: center;
  }
  .img{
    padding-top: 30px;
    width:50%;height:50%; opacity:65%
  }
}

@media screen and (max-width: 400px) {
  .text{
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Khula", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: #2E3D4E;
    height: 50px !important;
  }
  .btn1{
    background-color: #A33D37;
    font-family: "Khula", sans-serif;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    margin-top: 35px;
    color: white;
    border-radius: 25px;
  }
  .button-area{
    padding-top: 20px;
    background: #23313F;
    height: 200px;
    text-align: center;
  }
  .img{
    padding-top: 30px;
    width:50%;height:50%; opacity:65%
  }
}
