<!DOCTYPE html>

<html>
  <head>
    <title>Speedplanner</title>
      <style> @import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap')</style>
  </head>
  <body>
    <div class="header"></div>
    <div class="space"></div>
    <div class="text"> Bienvenido, Administrador</div>
    <div class="stripe1"></div>
    <div class="stripe2"></div>
    <div class="button-area">
      <button class="btn1"> Consulta de estadísticas</button>
      <div></div>
      <button class="btn1">Apertura de secciones</button>
    </div>
    <div class="stripe2"></div>
    <div class="stripe1"></div>
    <div class="image">
      <img class="img" src="/assets/speedplanner2.png">
    </div>
    <div class="blue-space"></div>
    <div class="footer">©Adaptimize, 2020</div>
  </body>
</html>
