<!DOCTYPE html>

<html>
<head>
  <title>Speedplanner</title>
  <style> @import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap')</style>
</head>
<body>
<div class="header"></div>
<div class="space"></div>
<div class="image">
  <img src="/assets/speedplanner2.png" style="width:352px;height:152px; opacity:65%">
</div>
<div class="stripe1"></div>
<div class="stripe2"></div>
<div class="center-area">
  <div class="text">No se han encontrado pedidos de apertura de secciones.</div>
  <button class="btn1"> Volver</button>
</div>
<div class="stripe2"></div>
<div class="stripe1"></div>

<div class="blue-space">
</div>
<div class="footer">©Adaptimize, 2020</div>
</body>
</html>
