<!DOCTYPE html>
<html>
<head>
  <title>Speedplanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap%27')</style>
</head>

<body>
<div class="space1" ></div>
<div class="space2" ></div>
<section>
  <div class = "header" cols="12" sm="4">
    <br/><div class="title">Estadisticas</div>
  </div>
  <div class = "header" cols="12" sm="8">
    <div class="text">Profesor: </div>
    <div class="text">Carrera:</div>
    <div class="text">Ciclo Academico</div>
    <br/>
  </div>
</section>
<div class="red"></div>
<div class="red2"></div>
<section>
  <div class = "header2" cols="12" sm="7">
    <br/><br/>
    <div class="textTile">Curso: </div>
    <br/>
  </div>
  <div class="text2">Hombres</div>
  <div class="text2">Mujeres</div>
  <div class = "header2" cols="12" sm="12">
    <br/>
    <div class="textTile">Secciones: </div>
    <br/>
  </div>
</section>
<section class="header2">
  <div class="text3">SW1A</div>
  <div class="text3">IM31</div>
  <br/><br/>
</section>
<div style="background-color: #23313F"></div>
<div class="red2"></div>
<div class="red"></div>
<section class = "imga" >
  <div class="container" style="clear: right">
    <img class ="img" src="/assets/speedplanner2.png">
  </div>
</section>

<div class="space2"  cols="12" sm="12"></div>
<div class="space3"  cols="12" sm="12">
  <div class ="Domain">Adaptimize, 2020</div>
</div>
</body>
</html>


