<div id="header">
</div>
<div class="space"></div>
<div id="bar-information">
  <div id="statistics"><h1>Estadisticas</h1></div>
  <div id="personal-information">
    <div class="up"><label class="left info">Coordinador: </label></div>
    <div class="down"><span class="left info">Carrera: </span></div>
  </div>
</div>
<div class="line"></div>
<div id="middle">
  <h2 class="subrayado">Ciclo academico: 2020-01</h2>
  <h4>Hombres: </h4>
  <h4>Mujeres: </h4>
  <h2 class="subrayado">Cursos</h2>
  <h4 class="enlace"><a>Programacion II</a> </h4>
  <a><h4 class="enlace">Base de datos </h4></a>
</div>
<div class="line"></div>
<div id="bar-logo"></div>
<div class="space"></div>
<div id="footer">©Adaptimize, 2020</div>

