<html>
<head>
  <title>Speedplanner</title>
  <style> @import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap')</style>
</head>
<body>
<div class= "header"></div>
<div class="space2">
  <div class="spacer"></div>
  <div class="text">SpeedPlanner</div>
</div>
<div class= "space"></div>
<div class="button-area">
  <div class="spacer"></div>
  <div class="text">Se ha guardado su actual horario</div>
  <button class="btn1" routerLink="/inscription-process">OK</button>
</div>
<div class="space">
  <div class="image">
    <img src="/assets/speedplanner2.png" style="width: 176px ; height: 76px; opacity: 65%">
  </div>
</div>
<div class="space3"></div>
</body>
</html>
